<navbar class='ui blue stackable menu'>
	<a class='header item'> Greymatters  </a>

	<a href = '/overview' id = 'nav_home' class='item'> Home </a>
	<a href = '/details' id='nav_details' class='item'> Details </a>
	<a href = '/workouts' id='nav_details' class='item'> Workouts </a>
</navbar>