<% include ./partials/head %>

<h1 class='header item'> Greymatters  </h1>

<form class='ui form' action = '/create-user' method='post'>
<div class="ui equal width form">

  <div class="fields">
    <div class="field">
      <label>Username</label>
      <input type="text" placeholder="Username" name='username'>
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name='password'>
    </div>
  </div>
  <div class="fields">
    <div class="field">
      <label>First name</label>
      <input type="text" placeholder="First Name" name='first_name'>
    </div>
    <div class="field">
      <label>Middle name</label>
      <input type="text" placeholder="Middle Name" name='middle_name'>
    </div>
    <div class="field">
      <label>Last name</label>
      <input type="text" placeholder="Last Name" name='last_name'>
    </div>
  </div>

  <div class="field">
    <div class="field">
      <label>Gender</label>
      <select class="ui search dropdown" name = 'gender'>
      <option value="">Select Gender</option>
      <option value="M">Male</option>
      <option value="F">Female</option>
      </select>
    </div>
    <div class="field">
      <label>Age</label>
      <input type="text" placeholder="Age" name='age'>
    </div>
  </div>

  <div class="field">
    <label>Stage</label>
    <select class="ui search dropdown" name = 'stage'>
      <option value="">Select Stage</option>
      <option value="1">Stage 1</option>
      <option value="2">Stage 2</option>
      <option value="3">Stage 3</option>
      <option value="4">Stage 4</option>
      <option value="5">Stage 5</option>
    </select>
  </div>

  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" name = conditions>
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>
  <button class="ui button" type="submit">Submit</button>
</div>
</form>

<% include ./partials/foot %>